<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About us</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/landing_pages/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../../static/landing_pages/assets/css/one-page-wonder.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

<body>  
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="features">Features</a></li>
        <li><a href="IEAP">Join</a></li>
        <li><a href="About">About</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="About">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLongTitle">Please Login to access</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="login" class="login-form fade-in-effect" action="dashboard.html">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password</label>
                            <input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-dark  btn-block text-left">
							    <i class="fa-lock"></i>
                                Log In
						    </button>
                        </div>

                        <div class="login-footer">
                            <a href="#">Forgot your password?</a>

                            <div class="info-links" style="float: right">
                                <a href="#">ToS</a> -
                                <a href="#">Privacy Policy</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Full Width Image Header -->
        <header class="header-image-about">
                    <!-- <div id='CounterSolution'> -->
                    <div class="container"> 
                        <div class="headline1">
                            <div id= 'text1withoutborderheader'>
                                <h3>
                                    ABOUT <br></br>
                                </h3>
                                <h3>
                                    Intelpol is an intelligent platform developed <br></br>
                                    by the team at Data Intelligence Hub.  <br></br>
                                </h3>
                            </div>
                        </div> 
                    </div> 

    </header>

    <!-- Page Content -->
        <hr class="featurette-divider">

    <div class="container">
        <!-- <div style="padding:20px"></div> -->
        <div id='aboutone'>
            
            <h3>
                DIH, a collaboration between Inbox Consulting and Persontyle, enable clients across industries, use enterprise intelligence to transform and create new growth opportunities. Our capabilities cater breakthrough innovative areas like artificial intelligence, data science, machine learning, intelligent design using AR/VR, smart IoT and Industrial IoT.</br></br>
            We develop 21st century digital talent, build intelligent data applications and design smart solutions to enable our clients transform, grow and become more competitive. Our deep experience gives us a clear and confident vision to help clients navigate the future. In today's connected environment, companies need to continually reinvent themselves.</br></br>
            We combine our capabilities to invent, develop, and deliver disruptive innovations for our clients. We tap into best AI and machine learning talent, powerful next-generation intelligent solutions and extensive partner relationships to help clients transform digitally and seize opportunities. We are on a mission to create value, transform industries and improve lives using data and intelligence. </br>
            </h3> 
            
        </div>
    </div>
    <hr class="featurette-divider">

    <div id='CS'>
        <div class="headline1">
            <div class="container"> 
                <div id= 'text1'>
                    <h3>
                    SAY HELLO TO THE GRAY </br>
                    MATTER BEHIND INTELPOL <br></br>
                    </h3>
                    <h4>
                    Intelpol is a product of future shaping scientists, <br></br>
                    mathematicians, engineers, designers and <br></br>
                    strategists co-creating at Data Intelligence Hub. <br></br>
                    </h4>
                </div>
            </div> 
        </div>
    </div>
        <!--<hr class="featurette-divider">-->
         <!-- <div style="padding:20px"></div>  -->
       <!-- main content -->
        <hr class="featurette-divider">



<div class="container-fluid">
        <div class= "container">
            <div class="row">
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOver="show('div0')" onMouseOut="hide('div0')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/Alisyed.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                        <h2 align="center">
                            Ali Syed </br>
                        </h2>
    
                    <div style= "visibility: hidden;" id= "div0">
                        <h3 align = "center">
                            Product Director  
                        </h3>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOver="show('div1')" onMouseOut="hide('div1')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/irfan.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                    <h2 align="center">
                            Irfan Bukhari </br>
                        </h2>
                    <div style= "visibility: hidden;" id= "div1">
                        
                        <h3 align = "center">
                            Product Manager  
                        </h3>
                    </div>


                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                                        <div align= 'center'>
                        <div onMouseOver="show('div2')" onMouseOut="hide('div2')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/albab.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                        <h2 align="center">
                            Albab A. Khan </br>
                        </h2>
                        
                    <div style= "visibility: hidden;" id= "div2">
                        <h3 align = "center">
                            Cheif Experience Officer  
                        </h3>
                    </div>


                </div>
            </div>
        </div>
</div>
        <hr class="featurette-divider">

<div class="container-fluid">
        <div class= "container">
            <div class="row">
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOut="hide('div3')" onMouseOver="show('div3')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/shahid.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                        <h2 align="center">
                            Shahid A. Yar </br>
                        </h2>
                        
                    <div style= "visibility: hidden;" id= "div3">
                        <h3 align = "center">
                            Data Scientist
                              
                        </h3>
                    </div>

                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOut="hide('div4')" onMouseOver="show('div4')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/SABA1.jpg" 
                            style="width: 250px; height:250px">
                        </div>
                    </div>
                    <h2 align="center">
                            Saba Muhammad Ali </br>
                        </h2>
                        
                    <div style= "visibility: hidden;" id = "div4">
                        <h3 align = "center">
                            Data Scientist 
                        </h3>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOut="hide('div5')" onMouseOver="show('div5')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/HAK.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                        <h2 align="center">
                            Hammad A. Khan </br>
                        </h2>
                        
                    <div style= "visibility: hidden;" id = "div5">
                        <h3 align = "center">
                            Chief Technology Officer
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</div>


        <hr class="featurette-divider">

<div class="container-fluid">
        <div class= "container">
            <div class="row">
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOut="hide('div6')" onMouseOver="show('div6')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/UBAID.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                        <h2 align="center">
                            Obaid Ur Rehman   </br>
                        </h2>
                    <div style= "visibility: hidden;" id = "div6">

                            <h3 align = "center">
                            Data Scientist 
                        </h3>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> --> 
                   <div onMouseOut="hide('div7')" onMouseOver="show('div7')">
                        <div align= 'center'>
                                <img class=" featurette-image 
                                img-circle img-responsive pull-center"
                                src="../../static/landing_pages/assets/images/DIHteam/ZAWAR.jpg" 
                                style="width:250px; height:250px">
                        </div>
                    </div>
                            <h2 align="center">
                                Zawar Khan </br>
                            </h2>
                                
                    <div style= "visibility: hidden;" id = "div7">
                            <h3 align = "center">
                                Deep Learning Engineer                 
                            </h3>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                    <div onMouseOut="hide('div8')" onMouseOver="show('div8')">
                        <div align= 'center'>
                                <img class=" featurette-image 
                                img-circle img-responsive pull-center"
                                src="../../static/landing_pages/assets/images/DIHteam/saad.jpg" 
                                style="width:250px; height:250px">
                        </div>
                    </div>
                            <h2 align="center">
                                Saad Khan </br>
                                </h2>
                                
                    <div style= "visibility: hidden;" id = "div8">
                    
                            <h3 align = "center">
                            Machine Learning Lead
                            </h3>
                        </div>
                    
                </div>
            </div>
        </div>
                   <hr class="featurette-divider">
</div>
    <div class="container-fluid">
        <div class= "container">
            <div class="row">
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div align= 'center'>
                        <div onMouseOut="hide('div9')" onMouseOver="show('div9')">
                            <img class=" featurette-image 
                            img-circle img-responsive pull-center"
                            src="../../static/landing_pages/assets/images/DIHteam/usman.jpg" 
                            style="width:250px; height:250px">
                        </div>
                    </div>
                        <h2 align="center">
                            Muhammad Usman   </br>
                        </h2>
                    <div style= "visibility: hidden;" id = "div9">

                            <h3 align = "center">
                            Senior Data Scientist 
                        </h3>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> --> 
                   <div onMouseOut="hide('div10')" onMouseOver="show('div10')">
                        <div align= 'center'>
                                <img class=" featurette-image 
                                img-circle img-responsive pull-center"
                                src="../../static/landing_pages/assets/images/DIHteam/sohaib.jpg" 
                                style="width:250px; height:250px">
                        </div>
                    </div>
                            <h2 align="center">
                                Muhammad Sohaib </br>
                                </h2>
                                
                    <div style= "visibility: hidden;" id = "div10">
                    
                            <h3 align = "center">
                            Senior Data Engineer
                            </h3>
                        </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELAPP'>                        </div> -->
                    <div onMouseOut="hide('div11')" onMouseOver="show('div11')">
                        <div align= 'center'>
                                <img class=" featurette-image 
                                img-circle img-responsive pull-center"
                                src="../../static/landing_pages/assets/images/DIHteam/masam.jpg" 
                                style="width:250px; height:250px">
                        </div>
                    </div>
                            <h2 align="center">
                                Maisam Raza </br>
                                </h2>
                                
                    <div style= "visibility: hidden;" id = "div11">
                    
                            <h3 align = "center">
                            Senior Design Engineer 
                            </h3>
                        </div>
                    
                </div>
            </div>
        </div>
</div>

           <hr class="featurette-divider">


            <div id= 'text3'>
                <h2>
                    Together let’s make IntelPol ever more awesome! </br></br>
                    Sign up as an early adopter and take part in the making </br>
                    IntelPol more intelligent and useful for our safety. </br>
                    
                </h2>
            </div>
       <hr class="featurette-divider">















        <footer>
            <div class="nav navbar-nav">
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company-beta/13308401/"><i class="fa fa-linkedin fa-2x"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
                <!-- <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-2x"></i></a> -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2017 All Rights Reserved. Data Intelligence Hub</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/landing_pages/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/landing_pages/assets/js/bootstrap.min.js"></script>
        <script>
    function show(id) {
        document.getElementById(id).style.visibility = "visible";
    }
    function hide(id) {
        document.getElementById(id).style.visibility = "hidden";
    }
</script>


</body>

</html>