<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Features</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/landing_pages/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../../static/landing_pages/assets/css/one-page-wonder.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

<body>  
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="features">Features</a></li>
        <li><a href="IEAP">Join</a></li>
        <li><a href="About">About</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="About">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLongTitle">Please Login to access</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="login" class="login-form fade-in-effect" action="dashboard.html">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password</label>
                            <input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-dark  btn-block text-left">
							    <i class="fa-lock"></i>
                                Log In
						    </button>
                        </div>

                        <div class="login-footer">
                            <a href="#">Forgot your password?</a>

                            <div class="info-links" style="float: right">
                                <a href="#">ToS</a> -
                                <a href="#">Privacy Policy</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Full Width Image Header -->
    <header class="features-image">
                    <!-- <div id='CounterSolution'> -->
                <div class="headline1">
                     <div class="container"> 
                            <div id= 'text1withoutbordercenter'>
                                <h3>
                                Intelpol equips your entire department with the  <br></br>
                                tools they need to intelligently predict crime <br></br>
                                
                                </h3>
                            </div>
                     </div> 

                <!-- </div> -->
            </div>

    </header>

        <div style="padding:50px"></div>
        <div>
            <h2 class= "feature-title">
                Intelpol features are designed as an end to </br>
                intelligent policing solution for the future <br></br>
            </h2>
       </div>
        <div style="padding:30px"></div>

            <hr class="featurette-divider">

           <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/2.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELNUCLEUS </h2>
                            </div>
 
                <!-- <div class="col-md-7 col-md-offset-1" style="margin-top:-50px;"> -->
            </div>
                <br></br> 
                <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                        </div>
                    </div>
                </div>
        <div class="container-fluid"> -->
            <div class="row">
                <div class="col-md-6" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                             <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/dashboard.jpg" style="width:150px; height:150px"> 
                            <p class="featurette-detailscenter">
                                Intelpol is a platform of Integrated Dashboard, Alerts, </br>
                                Process Automation and Intelligent Insights  </br>
                                enabling officers to supress crime effectively 
                            </p>                       
                        </div>
                    </div>
                </div>
                 <div class="col-md-6" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/SS.png" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Social Surveillance provides the platform to analyze </br>
                                the crime intensity with social media feeds. 
                            </p>                       
                        </div>
                    </div>
                </div>
                </div>
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
            <hr class="featurette-divider">


           <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/6.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELVOICE </h2>
                            </div>
 
                <!-- <div class="col-md-7 col-md-offset-1" style="margin-top:-50px;"> -->
            </div>
                <br></br>
                        <div class="col-md-6" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="contact">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/Alexa.jpg" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Intelpol is Alexa Compatible, a perfect digital assistant </br>
                                which delivers important updates during monitoring without </br>
                                 any hassle. 
                                <!-- <span class="text-muted">Cross-agency Databases</span> -->
                            </p>
                            <!-- <p class="lead"></p> -->
                        </div>
                    </div>
                </div>
                
                

                 <div class="col-md-6" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/voice-assist.jpg" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Intelpol enables the officers to use the platform by </br>
                                providing voice assistance by which they can cordinate </br>
                                the base stations and get live updates during survilance.
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>

            </div>
        </div>
   


        <hr class="featurette-divider">

               <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/3.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELDATA </h2>
                            </div>
 
                <!-- <div class="col-md-7 col-md-offset-1" style="margin-top:-50px;"> -->
            </div>
                <br></br> 

                    <div style="padding:20px"></div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/analysis.jpg" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Advanced machine learning models learn from - Data Analysis - </br>
                                Advanced machine learning models learn from past crime patterns </br> and
                                 intelligently predict future crime with accuracy
                               
                            </p>                       
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/data-analysis.jpg" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                            Insightful and interactive visualizations empower police </br>
                            personnel to drill down incident level details or zoom out </br>
                             to analyse nationwide criminal activity.
                               
                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>

            
        <div style="padding:20px"></div>





        <div class="container-fluid">
            <div class="row">
                

                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/heatmap1.png" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Powerful algorithms predict future crime accurately and </br>
                                 generate heatmaps with detailed data visualizations
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>

                   
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/upload.jpg" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                            Intelpol provides the platform where the crime data 
                            can be uploaded and the various analytics and predictions
                            are displayed
                            </p>                       
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/intelsearch.png" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Makes life easy for officers by looking up documents by simple 
                                typing keywords in a few clicks. No longer going through heaps 
                                and bundles of pdf files.
                               
                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>




                     <hr class="featurette-divider">


            <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/5.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELEYE </h2>
                            </div>
 
                <!-- <div class="col-md-7 col-md-offset-1" style="margin-top:-50px;"> -->
            </div>
                <br></br> <>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/temp2.png" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                AI enables Intelpol to detect any suspicious objects from any live camera feed. Empowering concerned area officers to stay alert for an suspicious activity
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="contact">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/npr.png" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">Intelpol can automatically detect number plates accurately on live video feed, helping identifying wide range of offenders from traffic violators to suspects and fugitives
                                <!-- <span class="text-muted">Cross-agency Databases</span> -->
                            </p>
                            <!-- <p class="lead"></p> -->
                        </div>
                    </div>
                </div>
                
                 <div class="col-md-4" style="background-color:white;">
                   <!-- <div id= 'INTELVOICE'>                        </div> -->
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <img class="featurette-image img-circle img-responsive pull-center" src="../../static/landing_pages/assets/images/gr.png" style="width:150px; height:150px">
                            <p class="featurette-detailscenter">
                                Next generation FR capability allows it to identify and extract human faces in a camera’s field of view and record them for future retrieval and forensic analysis.
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>

            </div>
        </div>
     
    <hr class="featurette-divider">

               <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/4.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELCLOUD </h2>
                            </div>
 
            </div>
                <br></br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <!-- <img class="featurette-image img-circle img-responsive pull-center" src="assets/images/intelanalytics.png" style="width:150px; height:150px"> -->
                            <p class="featurette-detailscenter">
                                Intelpol provides a Secure edge to Cloud Data Engineering </br>
                                and Management. IntelCloud enables the analyzers and </br>
                                predictors to access crime reports anytime and anywhere.
                                 
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    

     <hr class="featurette-divider">

               <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/7.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELLENS </h2>
                            </div>
 
            </div>
                <br></br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                             <!-- <img class="featurette-image img-circle img-responsive pull-center" src="assets/images/holo.png" style="width:150px; height:150px">  -->
                            <p class="featurette-detailscenter">
                               Mixed Reality Interface enabling next generation proactive policing </br>
                               and makes life easy for officers by providing them with intellens </br>
                               which detect the suspect efficently from thousands of people
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
    <hr class="featurette-divider">

               <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/8.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELKIT </h2>
                            </div>
 
            </div>
                <br></br> <>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <!-- <img class="featurette-image img-circle img-responsive pull-center" src="assets/images/intelanalytics.png" style="width:150px; height:150px"> -->
                            <p class="featurette-detailscenter">
                                IntelKit comprises of powerful intelligent policing hardware </br>
                                such as AI cameras that capture and analyse video in real time, </br>
                                 delivering powerful insights straight to your dashboard
                                <!-- <span class="text-muted">Crime Prediction.</span> -->
                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    

    <hr class="featurette-divider">

               <div class="container-fluid">
                            <div align= 'center'>
                                <img src="../../static/landing_pages/assets/images/9.png" width="10%", height="10%" alt=""> </br>
                              <h2>  INTELAPP </h2>
                            </div>
 
            </div>
                <br></br> <>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="background-color:white;">
                    <div align= 'center'>
                        <div class="featurette" id="services">
                            <!-- <img class="featurette-image img-circle img-responsive pull-center" src="assets/images/intelanalytics.png" style="width:150px; height:150px"> -->
                            <p class="featurette-detailscenter">
                                Intelpol provides a Data driven app for web, mobile, desktop </br>
                                and Immersive interface which enables the access to Integrated </br>
                                Dashboard, Intelligent Insights, AI Powered Predictions and Recommendations

                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    

    <hr class="featurette-divider">

    <!-- /.container -->
               <!-- Footer -->
       <footer>
        <div class="nav navbar-nav">
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a>
            <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company-beta/13308401/"><i class="fa fa-linkedin fa-2x"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
            <!-- <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-2x"></i></a> -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; Persontyle Group and DIH 2017</p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../../static/landing_pages/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/landing_pages/assets/js/bootstrap.min.js"></script>

</body>

</html>