<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IEAP</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/landing_pages/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../../static/landing_pages/assets/css/one-page-wonder.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

<body>  
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="features">Features</a></li>
        <li><a href="IEAP">Join</a></li>
        <li><a href="About">About</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="About">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLongTitle">Please Login to access</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="login" class="login-form fade-in-effect" action="dashboard.html">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password</label>
                            <input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-dark  btn-block text-left">
							    <i class="fa-lock"></i>
                                Log In
						    </button>
                        </div>

                        <div class="login-footer">
                            <a href="#">Forgot your password?</a>

                            <div class="info-links" style="float: right">
                                <a href="#">ToS</a> -
                                <a href="#">Privacy Policy</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Full Width Image Header -->
    <header class="features-image-ieap">
                    <!-- <div id='CounterSolution'> -->
                    <div class="container"> 
                        <div class="headline1">
                            <div id= 'text1withoutborderheader'>
                                <h3>
                                    Welcome to IntelPol Early Adopter Program <br></br>
                                </h3>
                                <h2>
                                    Together Let's develop  policing platform for 21st Century<br></br>
                                     <!-- <br></br> -->
                                </h2>
                            </div>
                        </div> 
                    </div> 

    </header>

    <!-- Page Content -->
    <!-- <div class="container" id="pageContainer"> -->

        <!--<hr class="featurette-divider">-->
        <div style="padding:50px"></div>

       <!-- First Featurette -->
    <div class="container" id="pageContainer"> 
       <div>
            <h3 class= "feature-title">
                Why become part of IEAP?
            </h3>
       </div>
        <div id= 'text1-black'>
            <h3>
            ✔ You’ll play a pivotal role in the validation of Intelpol platform and technology components. <br></br>
            ✔ You’ll have access to the newest solutions and the opportunity to provide suggestions on the features of new solutions/components before they’re released, giving you a say in how the final solution turns out. <br></br>
            ✔ You’ll also benefit from a dedicated IEAP expert who’ll assist you during installation and updates, and throughout the program. <br></br>
            </h3>
        </div>
    </div>
        <hr class="featurette-divider">
        <div id='ieapDesc1'>
            <div class="headline1">
                <div class="container"> 
                        <div id= 'text1withoutborder1'>
                                <h3>
                                    How does the early adopter program work? <br></br>
                                </h3>
                                <h4>
                                    IEAP provides law informant agencies make sure Intelpol works for them before committing to a long-term contract. For a nominal fee, an Intelpol product specialists will work with you to assess the business use case, requirements, and configure the platform to meet your objectives.<br></br>
                                    Within a few days you can begin validating results of predictive policing. If necessary, settings can be tweaked over the next few weeks until things are just right. Once you're comfortable with the results, you can begin using the system operationally. You then receive 30 days of free subscription service to prove that it works for you. After all, software doesn't directly reduce crime rate.  <br></br>
                                </h4>
                                <h4>
                                    ☐ We will deliver the component user guide and build to you by e-mail</br>
                                    ☐ We will work with your team to install and try the solution</br>
                                    ☐ You report any issues through the early adopter program support process at info at intelpol.ai</br>
                                    ☐ You provide periodic updates on your progress</br>
                                    ☐ The Early Adopter Program concludes when participant feedback validates all of our program objectives</br>
                                    ☐ Early Adopter participants upgrade to the latest certified Builds. The best feedback providers will be rewarded</br>
                                </h4>
                            </div>
                    </div> 
                </div> 
        </div>
          <!-- Page Content -->
    <!-- <div class="container" id="pageContainer"> -->

        <!--<hr class="featurette-divider">-->
        <div style="padding:20px"></div>

       <!-- First Featurette -->
    <div class="container" id="pageContainer"> 
       <div>
            <h3 class= "feature-title">
                As part of the IEAP
            </h3>
       </div>
        <div id= 'text1-blackieap'>
            <h4>
            ✔ You’ll play a pivotal role in the validation of our game changing deep learning based energy management solution. <br></br>
            ✔ You’ll have access to our product roadmap and the opportunity to provide suggestions on the new features before they’re released to the public. <br></br>
            ✔ You'll also benefit from direct access to our data science and engineering teams who’ll assist you with any questions or needs throughout your participation in the program. <br></br>
            ✔ You'll get an opportunity to get a look and feel for the OS and included software.<br></br>
            ✔ You’ll get the chance to test your energy management solution in optimized fashion.<br></br>
            ✔ You report any issues or questions related to the demo unit via email, info@intelpol.ai<br></br>
            ✔ You provide periodic updates on your progress.<br></br>
            ✔ The Early Adopter Program is an ongoing program available to qualifying businesses.<br></br> 
            ✔ As a participant you’ll get early access to new features and updates to our service.<br></br>
            ✔ As an Early Adopter you’ll get additional discounts that will be grandfathered as long as you’re an DIH customer.<br></br>
            </h4>
        </div>
    </div>
            <div id= 'ieap'>
                <div id='ieapDesc2'>
            <div class="container"> 
                    <h3>
                    Additional Details <br></br>
                    <br></br>
                    Eligibility Requirements <br></br>
                    <br></br>
                    ☐ Apply to the program and be approved to participate.<br></br>
                    ☐ Excited to participate and offer regular feedback. <br></br>
                    ☐ Sign our mutual non-disclosure agreement. <br></br>
                    ☐ Willing to share your data and allocate resources to work with the IEAP team.  <br></br>
                </h3>
                <br />            
            </div>
            </div>
        </div>
        <!-- <hr class="featurette-divider"> -->

                <div id='facial_detection_image'>
                            <div class="headline1">
                                        <div class="container"> 

                        <div id= 'text1withoutborder'>
                                <h3>
                                    Our brilliant team is on the cusp of another breakthrough in intelligent policing by fusion image AI and Immersive Reality making augmented identification possible. <br></br>
                                </h3>
                            </div>
                    </div> 
                </div> 
        </div>

            </div>
           <hr class="featurette-divider">

    <div class="container">
        <div class="featurette" id="about"> 
           <!-- <img class=" featurette-image img-responsive pull-right"src="assets/images/holo.png" style="width:550px; height:400px"> -->
           <h3 class="featurette-detailscenter1">
               Together, let’s collaborate to protect our communities and equip our forces intelligently to fight crime in the age of AI
               <!-- <span class="text-muted">Crime Prediction.</span> -->
           </h3>
            <div id='ieapBtn'>
                <button href = '#' type="button" style='padding:20px 70px;outline:black' class="btn btn-lg btn-default">
                                   GET IN TOUCH
                             </div>
                    
                </button>
            </div>           
       </div>
    </div>
       <hr class="featurette-divider">
    <footer>
        <div class="nav navbar-nav">
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a>
            <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company-beta/13308401/"><i class="fa fa-linkedin fa-2x"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
            <!-- <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-2x"></i></a> -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>&copy; 2017 All Rights Reserved. Data Intelligence Hub</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="../../static/landing_pages/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/landing_pages/assets/js/bootstrap.min.js"></script>

</body>

</html>