<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/landing_pages/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../../static/landing_pages/assets/css/one-page-wonder.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

<body>  
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="features">Features</a></li>
        <li><a href="IEAP">Join</a></li>
        <li><a href="About">About</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="About">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLongTitle">Please Login to access</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="login" class="login-form fade-in-effect" action="dashboard.html">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password</label>
                            <input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-dark  btn-block text-left">
							    <i class="fa-lock"></i>
                                Log In
						    </button>
                        </div>

                        <div class="login-footer">
                            <a href="#">Forgot your password?</a>

                            <div class="info-links" style="float: right">
                                <a href="#">ToS</a> -
                                <a href="#">Privacy Policy</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
            </div>
        </div>
        
    </header>
        <hr class="featurette-divider">

    <!-- Page Content -->
    <div id="pageContainer">
        <!-- <div style="padding:20px"></div> -->
        <div id='intelpolDemo'>
            <h2>
                INTELPOL IS AN INTELLIGENT POLICING PLATFORM POWERED <br></br>
                BY SMART DATA SCIENCE, DEEP LEARNING AND ACCELERATED GPUS.
            </h2>
        </div>
        <!--<hr class="featurette-divider">-->
         <!-- <div style="padding:20px"></div>  -->
       <!-- main content -->
        <hr class="featurette-divider">

        <div id= 'ieap'>
            <div id='ieapDesc'>
                <h3>
                    The nature of crime is evolving with digital transformations. It’s time for policing <br></br>
                    to evolve in response. Join Intelpol In our journey to empower law enforcement <br></br>
                    agencies make our communities safer using machine intelligence.
                </h3>
                <br />            
            </div>
            <div id='ieapBtn'>
                <button href = 'IEAP.html' type="button" style='padding:20px 30px;outline:black' class="btn btn-lg btn-default">Join IEAP</button>
            </div>
        </div>

        <!--<hr class="featurette-divider">-->
        <hr class="featurette-divider">

        
            <div id='ieapDesc1'>
                <div class="headline1">
                     <div class="container"> 
                            <div id= 'text1'>
                                <h3>
                                IntelPol applies deep machine learning to  <br></br>
                                identify likely targets for police intervention <br></br>
                                and prevent crime or solve past crimes with <br></br>
                                intelligent predictions. </br>
                                <!-- Intelpol is built up as a fusion <br></br>
                                of multiple groundbreaking data, IoT <br></br>
                                and AI technologies enabling world’s <br></br>
                                most comprehensive policing platform <br></br> -->
                                </h3>
                            </div>
                     </div> 

                </div>
            </div>


          <!-- <hr class="featurette-divider">   -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="background-color:white;">
                    <div id= 'INTELCHECK'></div>
                            <div align= 'center'>
                                <h4>INTELNUCLEUS </h4>                
                            </div>        <p align="center">
                            Integrated Dashboard, </br>
                            Alerts, Process Automation </br>
                            and Intelligent Insights </br>
                        <p>                

                        </div>

                <div class="col-md-3" style="background-color:white;">
                    <div id= 'INTELMACHINE'></div>
                            <div align= 'center'>
                                <h4>INTELMACHINE </h4>                
                            </div>
                            <p align="center">
                                Deep Machine Learning and </br>
                                AI Powered Predictions and </br>
                                Recommendations
                                <p>
                </div>
                <div class="col-md-3" style="background-color:white;">
                    <div id= 'INTELCLOUD'></div>
                            <div align= 'center'>
                                <h4>INTELCLOUD </h4>                
                            </div>
                            <p align="center">
                                Secure edge to Cloud </br>
                                Data Engineering </br>
                                and Management
                                <p>
                </div>
                <div class="col-md-3" style="background-color:white;">
                        <div id= 'INTELEYE'></div>
                            <div align= 'center'>
                                <h4>INTELEYE </h4>                
                            </div>
                                <p align="center">
                                    Intelpol solution identifies </br>
                                    crime hot spots with a high </br>
                                    degree of accuracy
                                <p>
                </div>
            </div>
        </div>  
    </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="background-color:white;">
                   <div id= 'INTELVOICE'>                        </div>
                    <div align= 'center'>
                                <h4>INTELVOICE </h4>                
                            </div>
                        <p align="center">
                            Interactive Voice AI for </br>
                            Enhanced User Experience </br>
                            and Productivity </br>
                        <p>                </div>
                <div class="col-md-3" style="background-color:white;">
                    <div id= 'INTELLENS'></div>
                            <div align= 'center'>
                                <h4>INTELLENS </h4>                
                            </div>
                            <p align="center">
                                Mixed Reality Interface </br>
                                enabling next generation </br>
                                proactive policing
                                <p>
                </div>
                <div class="col-md-3" style="background-color:white;">
                    <div id= 'INTELKIT'></div>
                            <div align= 'center'>
                                <h4>INTELKIT </h4>                
                            </div>
                            <p align="center">
                                Plug and play kit with edge </br>
                                connectivity, gateways and </br>
                                implementation
                                <p>
                </div>
                <div class="col-md-3" style="background-color:white;">
                        <div id= 'INTELAPP'></div>
                            <div align= 'center'>
                                <h4>INTELAPP </h4>                
                            </div>
                                <p align="center">
                                    Data driven app for web, </br>
                                    mobile, desktop and </br>
                                    Immersive interface
                                <p>
                </div>
            </div>
        </div>  
        </br>
            <div id='ieapBtn'>
                <button href = 'features.html' type="button" style='padding:20px 30px;outline:black' class="btn btn-lg btn-default">FEATURES</button>
            </div>

       <hr class="featurette-divider">

            <div id='Empowers'>
                <div class="headline1">
                     <div class="container"> 
                            <div id= 'text1'>
                                <h3>
                                    Intelpol empowers police departments and <br></br>
                                    citizens around the world with intelligence <br></br>
                                    to predict crime in real time <br></br>
                                    
                                </h3>
                            </div>
                     </div> 

                </div>
            </div>
            <div id= 'text2'>
                <h3>
                    Powered by artificial intelligence, Intelpol is a fusion <br></br>
                    of image, object, voice recognition technologies <br></br>
                    allowing Police forces accurate predictions on type, <br></br>
                    place and time of future crime. 
                    
                </h3>
            </div>
                        <div id='ieapBtn'>
                <button href = "About.html" type="button" style='padding:20px 30px;outline: blue' class="btn btn-lg btn-default">ABOUT</button>
            </div>
       <hr class="featurette-divider">

        

            <div id='CounterSolution'>
                <div class="headline1">
                     <div class="container"> 
                            <div id= 'text1'>
                                <h3>
                                Intelpol is designed to combat evolving <br></br>
                                criminal activities in the digital age. </br>
                                </h3>
                            </div>
                     </div> 
                </div>
            </div>
        
    <div id= 'ieap'>
        <div id='ieapDesc2'>
            <div class="container"> 
                <br></br>
                <h2>
                    PREDICTING CRIMES
                </h2>
                <h3>
                    Forecast places and times with an increased risk of crime. <br></br> <br></br>
                </h3>
                <h2>
                    PREDICTING OFFENDERS
                </h2>
                <h3>
                    Identify individuals at risk of offending in the future. <br></br> <br></br>
                </h3>
                <h2>
                    PREDICTING PERPETRATORS
                </h2>
                <h3>
                    Machine learning techniques used to create profiles that </br>
                    accurately match likely offenders with specific past crimes. <br></br><br></br>
                </h3>
                <h2>
                    PREDICTING VICTIMS 
                </h2>
                <h3>
                    Identify groups or, in some cases, individuals who are likely to become victims of crime. <br></br> <br></br>
                </h3>
                </br>
            </div>
        </div>
    

            <div id= 'specialtext'>
                <h2>
                    Together let’s make our communities safer and secure<br></br>
                    </h2>
                    <h3>
                    Sign up as an early adopter and join our journey to make <br></br>
                    Intelpol the most advanced policing solution ever! <br></br>
                </h3>
            </div>
            <div id='ieapBtn'>
                <button href = 'IEAP.html' type="button" style='padding:20px 30px;outline: blue' class="btn btn-lg btn-default">JOIN IEAP</button>
            </div>
            </br>
        </div>
    </div>
     <hr class="featurette-divider">
    <!-- /.container -->
    <footer>
        <div class="nav navbar-nav">
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a>
            <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company-beta/13308401/"><i class="fa fa-linkedin fa-2x"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
            <!-- <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-2x"></i></a> -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; 2017 All Rights Reserved. Data Intelligence Hub</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="../../static/landing_pages/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/landing_pages/assets/js/bootstrap.min.js"></script>

</body>

</html>